node_modules/
dist/
coverage/
build/
temp/
out/
generated/
.nx/
*.log
*.lock
*.swp
*.swo
*.swn
*.tgz
*.tar.gz
*.tar
*.zip
*.rar
.env
.env*
*.yml
*.yaml
*.json
*.map
*.tsbuildinfo
*.js.map
translations/
intl/
static/
